ul{
    list-style: none;
    display: inline-block;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    .nav-link1 {
        background-color: white;
        color: #BB1E1E;
        align-items: center;

    
      }
}
li {
    margin-bottom: 10px; 
  }


.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray; 
  margin-right: 5px;
  
  
  
  .nav-text {
    font-family: 'InterV_Semi';
    font-size: 14px; 
    text-decoration: none;
    color: gray;
  }
}

.nav-bar{
  position: relative;
  justify-content: flex-end;
  margin-left: 10em; 
  flex-wrap: wrap;
}

