.news-list{
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 20em;
    z-index: 1000;
    background-color: white;
    width: 30em;
    .list-text{
    font-family: 'InterV_Semi';
    text-decoration: none;
    color: black;
    font-size: 14px;
    }
    .list-img{
        width: 50px;
        height: 30px;
        padding-right: 10px;
    }
}