.search-bar-header{
    display: flex;
    position: relative;
    align-items: center;
    padding-left: $app-padding;
    padding-right: $app-padding;
    padding-top: 2em;
    justify-content: space-between;
    height: 50px;
    margin-top: 3em;

h1 {
    padding-right: 10px;
    color: #BB1E1E; 
    .news-part-title{
        color: black;
    }
  }
.search-field {
    display: grid;
    align-items: center;
    flex: 1;
    margin-right: 10px;
    width: 20px;
  }
  .search-input{
    border: none;
    width: 50em;
    height: 3em;
    border-radius: 3% 3% 3% 3%;
  }
  .search-button{
   height: 2em;
   width: 6em;
   background-color: #BB1E1E;
   color: white;
   font-family: InterV_Bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    border: none;
    border-radius: 5% 5% 5% 5%;
    margin-left: 38em;
    margin-top: -40px;
  }}