.Main-block{
    position: relative;
}
.Block-with-img{
    width: 322px;
    height: 212px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
 
}
.Block-with-heading{
  position: absolute;
  height: 112px;
  width: 321px;
  //left: 263px;
  //top: 378px;
  border-radius: 0px;
  left: 18.26%;
  right: 59.44%;
  top: 19.68%;
  bottom: 74.49%;
  color: #fff;
}

.Category-name{
position: absolute;
height: 16px;
left: 0%;
right: 0%;
top: calc(50% - 16px/2);
font-family: 'InterV_Bold';
font-size: 10px;
line-height: 16px;
/* identical to box height, or 160% */
letter-spacing: -0.0153846px;
text-transform: uppercase;
color: #1E71BB;
}

.Article-title{
position: absolute;
left: 19.1%;
right: 60.21%;
top: 21.24%;
bottom: 77.72%;
font-family: 'InterV_Medium';
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */
letter-spacing: -0.11px;
color: #000000;
}

.Article-author{
position: absolute;
height: 15px;
left: 19.1%;
right: 74.31%;
top: calc(50% - 15px/2 - 494px);
font-family: 'InterV';
font-size: 12px;
line-height: 14px;
letter-spacing: -0.0675px;
color: #1D1D1B;
}