/*.container{
    width: 100%;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}*/

[class^="col-"]{
    padding-left: 15px;
    padding-right: 15px;
}

@for $i from 1 through 12 {
    $width: percentage($i/12);

    .col-#{$i}{
        width: $width;
    }

    @include respond-to('sm'){
        .col-sm-#{$i}{
            width: $width;
        }
    }

    @include respond-to('md'){
        .col-md-#{$i}{
            width: $width;
        }
    }

    @include respond-to('lg'){
        .col-lg-#{$i}{
        width: $width;
        }
    }

    @include respond-to('xl'){
        .col-xl-#{$i}{
        width: $width;
        }  
    }
}    